
.popup{
  .soc-list{
    .viber-chat{
      .mob{
        display: none;

        @media(max-width: 767px){
          display: inline-block;
        }
      }

      .desc{
        @media(max-width: 767px){
          display: none;
        }
      }
    }
  }
}